/* Navbar */
.logo {
  width: 50px;
}
.nav-link {
  text-align: center;
  margin: 0px 15px;
}
.nav-item {
  border-bottom: 2px solid #343a40;
}
.nav-item.active,
.nav-item:hover {
  border-bottom: 2px solid #00b3bb;
}
